/* || GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

p {
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}


/* || HEADER ELEMENTS STYLES */

header {
    padding: 20px;
    background-color: #2a607c;
}

h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

/* || BODY ELEMENTS STYLES */

#image-top {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}


#content-section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content-article{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.image-left {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.image-right {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

#benefits-section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-element {
    margin-bottom: 32px;
}

.benefits-symbol {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* || FOOTER ELEMENTS STYLES */

.footer {
    /*Hides the footer element in a browser.*/
    display: none;
    padding: 30px;
    clear: both;
    text-align: center;
}
