/* || GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

p {
    font-size: 16px;
}

a {
     /*Changes the default color for the links.*/
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    /*Underlines and changes the colour shade of links when you hover over them.*/
    color: #d9dcd6;
    text-decoration: underline;
}


/* || HEADER ELEMENTS STYLES */

header {
    padding: 20px;
    background-color: #2a607c;
}

h1 {
     /*Eliminated a line-break after the logo, so it can sit next to the navigation links.*/
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

.seo {
     /*Assignes different colour to 3 inner letters of the logo.*/
    color: #d9dcd6;
}

.nav {
    /*Assignes style to the navigation links.*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

.nav li {
    /*Creates horizontal navigation links.*/
    display: inline-block;
    margin-left: 25px;
}

/* || BODY ELEMENTS STYLES */

#image-top {
    /*Centres the image and scales the image to fill the figure element.*/
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}


#content-section {
    /*Allows to assign the width of the block and position next section next to it.*/
    display: inline-block;
    width: 75%;
    margin-left: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content-article{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.image-left {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.image-right {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

#benefits-section {
    /*Doesn't allow other elements to float left or right of it.*/
    clear: both;
    float: right;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-element {
    margin-bottom: 32px;
}

.benefits-symbol {
    /*Positions the symbols in the centre of the mother element, placed block style.*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* || FOOTER ELEMENTS STYLES */

.footer {
    /*Hides the footer element in a browser.*/
    display: none;
    padding: 30px;
    clear: both;
    text-align: center;
}
